/*.browsehappy {*/
  /*margin: 0.2em 0;*/
  /*background: #ccc;*/
  /*color: #000;*/
  /*padding: 0.2em 0;*/
/*}*/

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #898989;
}

a:active {
  text-decoration: none;
}

.caret {
  color: #37bbec;
  margin-left: 10px;
  margin-right: 30px;
}

@font-face {
  font-family: Lato Regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato Black;
  src: url(../fonts/Lato-Black.ttf);
}

body {
  font-family: Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
  background-color: #ffffff;
  border-bottom: 1px #ecefef solid;
}

.main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
}





#submenu {
  background-color: #ffffff;
  border-bottom: 3px #ecefef solid;
  padding-bottom: 15px;
}

#logo {
  display: inline-block;
}

#submenuitems {
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-top: 10px;
}

.miniicons {
  float: right;
  margin-left: 10px;
}


#slidertext {
  float: left;
  width: 500px;
}

#sliderimg {
  float: right;
}

#carousel {
  padding-top: 55px;
}



.item {
  border-radius: 1%;
  float: right;
  width: 270px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 30px;
}

.img {
  margin: 5px 5px 5px 5px;
}

.txt {
  margin: 25px;
}

#gray {
  padding-bottom: 50px;
}



#ajmo, #ajmoo {
  display: none;
}










/*ALT*/

#topmenu {
  padding: 15px 0 0 0;
}

#mainmenu {
  float: left;
}

.mainmenu {
  color: #898989;
}

#contact {
  float: right;
}

.border {
  border-left: 1px solid #f1f3f3;
  margin-left: 15px;
}

#botmenu {
  border-top: 1px #ecefef solid;
  border-bottom: 3px #ecefef solid;
  padding-top: 15px;
}

#logo {
  float: left;
}

#misc {
  float: right;
}

#content {
  padding-top: 30px;
  padding-bottom: 50px;
}

#kitchen {
  padding-top: 30px;
  padding-bottom: 25px;
}

.boxes {
  margin-top: 20px;
}

.box {
 border: 5px solid cornflowerblue;
}

/*AGAIn*/

#section {
  background: url("../images/content.png") repeat-x top left #f3f6f6;
}

.catalog {

}

.kutija {
  margin-bottom: 30px;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
}

.slika img {
  width: 100%;
  height: auto;
}

.opis p {
  color: #898989;
  padding-top: 4px;
}

.opis {
  background-color: #ffffff;
  padding: 23px 0 15px 18px;
}

.opis h5 {
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.money {
  color: #37bbec;
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  padding-right: 6px;
}

.through {
  color: #c5c5c5;
  text-decoration: line-through;
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dugme {
  display: none;
}

.slika:hover button {
  display: block;
}

.fttxt {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ftitem {
  border-right: 1px solid #efefef;
}

.ftimg1 {
 background: url("../images/ft1.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.ftimg2 {
  background: url("../images/ft2.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.ftimg3 {
  background: url("../images/ft3.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.ftimg4 {
  background: url("../images/ft4.png") no-repeat center center;
  position: absolute;
  top: 21px;
  right: 40px;
  height: 37px;
  width: 36px;
  display: block;
}

.arrow {
  padding-left: 7px;
}

footer h5 {
  font-family: Lato Black, Lato Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 16px;
}

[type="checkbox"] {
  width: 15px;
  height: 15px;
  -webkit-appearance: none; /*<----this needs to be added here.*/
  background-image: url("../images/checkbox.png")
}
[type="checkbox"]:checked {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  background-image: url("../images/checkbox-c.png")
}

[type="radio"] {
  width: 15px;
  height: 15px;
  -webkit-appearance: none; /*<----this needs to be added here.*/
  background-image: url("../images/radio.png")
}
[type="radio"]:checked {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  background-image: url("../images/radio-c.png")
}

[type="checkbox"]:focus {outline:0 !important;}
[type="radio"]:focus {outline:0 !important;}
